@import "./scss/mixin";

// HEADER

.header {
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100vw;
  height: 70px;
  background-color: #fff;
  &-form {
    &__logo {
      position: fixed;
      top: 16px;
      right: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      font-weight: 800;
      transition: all 0.4s;
      b {
        cursor: pointer;
        padding: 9px 16px;
        transition: all 0.3s;
        &:hover {
          color: white;
          background-color: black;
        }
      }
    }
    position: relative;
    display: flex;
    height: 50px;
    margin: 10px 25px;
    justify-content: space-between;
    align-items: center;
    &__left {
      display: flex;
    }
    &__right {
      justify-content: flex-end;
      display: flex;
      width: 100px;
      & span {
        margin-right: 10px;
      }
    }
    &__icon {
      &--search {
        position: absolute;
        width: 215px;
        right: 10px;
        & svg {
          position: absolute;
          width: 19px;
          transform: translate(6px, 2px);
          cursor: pointer;
        }
        & input {
          border: none;
          padding-left: 5px;
          outline: none;
          transition: all 0.1s;
          &:hover {
            border-bottom: 2px solid #000;
          }
          &:focus {
            border-bottom: 2px solid #000;
          }
          transform: translate(28px, 7px);
        }
      }
      &--basket {
        cursor: pointer;
        width: 20px;
        transform: translate(5px, 3px);
      }
      &--user {
        cursor: pointer;
        transform: translate(5px, 2px);
        width: 17px;
      }
    }
  }
}
.navigator-item {
  position: relative;
  z-index: 1;
  font-size: 0.725rem;
  font-weight: 500;
  margin-right: 13px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  &:hover {
    > .navigator-item__title {
      background-color: black;
      color: white;
    }
    > .navigator-item__list {
      display: flex;
    }
  }
  &__title {
    padding: 6px 8px;
    border-radius: 3px;
    transition: all 0.4s;
  }
  &__list {
    padding: 6px 8px;
    min-width: 100px;
    display: none;
    position: absolute;
    flex-direction: column;
    line-height: 20px;
    background-color: #fff;
  }
  &__item {
    font-size: 0.625rem;
    &:hover {
      color: rgb(90, 90, 90);
    }
  }
}

// FOOTER
.footer {
  position: relative;
  z-index: -5;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}

// HOMEPAGE
.homepage {
  height: 100vw;
  &__form {
    display: flex;
    max-width: 900px;
    min-width: 600px;
    padding: 0 12%;
    margin: auto;
    justify-content: center;
    & div {
      margin: 0 0 0 1%;
      width: 49%;
      text-align: center;
    }
    &--img > img {
      position: relative;
      max-width: 100%;
      height: auto;
      object-fit: contain;
      &:hover + .homepage__form--wrapper {
        background-color: red;
        filter: blur(4px);
      }
    }
    &--wrapper {
      display: inline-block;
      position: relative;
      z-index: 1;
      top: 50%;
      cursor: pointer;
      &:hover + #wallpaper {
        filter: blur(2px);
      }
    }
    &--text {
      display: block;
      font-size: 28px;
      font-weight: 800;
      color: #fff;
    }
    &--button {
      margin-top: 10%;
      letter-spacing: 0.003rem;
      display: inline-block;
      padding: 2px 12px;
      font-size: 16px;
      background: none;
      color: #fff;
      cursor: pointer;
      border: 1px solid #fff;
    }
  }
}

// LOGIN FORM
.loginpage {
  height: 100vw;
  &__wrapper {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 500px;
    height: 500px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
  &__form {
    border: 1px solid #000;
    margin: 20% 25%;
    width: 250px;
    height: 300px;
    &--field {
      width: 200px;
      height: 250px;
      margin: 10%;
    }
    &--id {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }
    &--password {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }

    &--text {
      font-size: 9px;
      margin-bottom: 5px;
    }
    &--input {
      border: none;
      padding-bottom: 5px;
      border-bottom: 1px solid #000;
      font-size: 11px;
      outline: none;
    }
    &--search {
      margin: 30px 0 5px 0;
      display: flex;
      flex-direction: column;
      font-size: 9px;
    }
  }
  &__search {
    &--id {
      margin-bottom: 5px;
      cursor: pointer;
    }
    &--password {
      cursor: pointer;
    }
  }
}
