@import "./scss/mixin";

// HEADER
.header {
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100vw;
  height: 70px;
  background-color: #fff;
  &-form {
    &__logo {
      position: fixed;
      top: 16px;
      right: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      font-weight: 800;
      transition: all 0.4s;
      b {
        cursor: pointer;
        padding: 9px 16px;
        transition: all 0.3s;
        &:hover {
          color: white;
          background-color: black;
        }
      }
    }
    position: relative;
    display: flex;
    height: 50px;
    margin: 10px 25px;
    justify-content: space-between;
    align-items: center;
    &__left {
      display: flex;
    }
    &__right {
      @include desktop {
        justify-content: flex-end;
        display: flex;
        width: 100px;
        & span {
          margin-right: 10px;
        }
        &--mobile {
          display: none;
        }
      }
      @include mobile {
        justify-content: flex-end;
        display: flex;
        width: 100px;
        & span {
          margin-right: 10px;
        }
        &--desktop {
          display: none;
        }
      }
    }

    &__icon {
      &--menubar {
        display: none;
      }
      &--search {
        position: absolute;
        width: 215px;
        right: 10px;
        & svg {
          position: absolute;
          width: 19px;
          transform: translate(6px, 2px);
          cursor: pointer;
        }
        & input {
          border: none;
          padding-left: 5px;
          outline: none;
          transition: all 0.1s;
          &:hover {
            border-bottom: 2px solid #000;
          }
          &:focus {
            border-bottom: 2px solid #000;
          }
          transform: translate(28px, 7px);
        }
      }
      &--basket {
        cursor: pointer;
        width: 20px;
        transform: translate(5px, 3px);
      }
      &--user {
        cursor: pointer;
        transform: translate(5px, 2px);
        width: 17px;
      }
    }
  }
  @include mobile {
    &-form {
      &__left {
        align-items: center;
        display: flex;
        flex-direction: column;
      }
      &__right span {
        margin-right: 5px;
      }
      &__menubar {
        &--list {
          position: absolute;
          transform: translate(31.5px, 35px);
          background-color: #000;
        }
      }
      &__icon {
        &--menubar {
          z-index: 1;
          cursor: pointer;
          background-color: #fff;
          display: block;
          width: 19px;
          padding: 6px 10px 4px 10px;
          transition: all 0.4s;
          &:hover,
          .hover {
            filter: invert(100%);
          }
        }
        &--search {
          position: relative;
          right: 0;
          width: 20px;
          input {
            display: none;
          }
        }
      }
    }
  }
}

.navigator-item {
  position: relative;
  z-index: 1;
  font-size: 0.725rem;
  font-weight: 500;
  margin-right: 13px;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;

  cursor: pointer;
  &:hover {
    > .navigator-item__title {
      background-color: black;
      color: white;
    }
    > .navigator-item__list {
      display: flex;
    }
  }
  &__title {
    padding: 6px 8px;
    border-radius: 3px;
    transition: all 0.4s;
  }
  &__list {
    padding: 6px 8px;
    min-width: 100px;
    display: none;
    position: absolute;
    flex-direction: column;
    line-height: 20px;
    background-color: #fff;
  }
  &__item {
    font-size: 0.625rem;
    &:hover {
      color: rgb(90, 90, 90);
    }
  }
  @include desktop {
    &__mobile {
      display: none;
    }
  }
  @include mobile {
    display: none;
    &__mobile {
      line-height: 20px;
      height: 20px;
      &--wrapper {
        background-color: #fff;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        width: 100px;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
          filter: invert(100%);
        }
      }
    }
  }
}
@include mobile {
  #navigator-item__mobile {
    display: block;
  }
}

// FOOTER
.footer {
  position: relative;
  width: 100%;
  z-index: -5;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  &__text {
    display: inline-block;
    width: fit-content;
  }
}

// HOMEPAGE
.homepage {
  width: 100%;
  height: 100%;
  @include desktop {
    &__left {
      &--icon {
        display: none;
        &-invisible {
          display: none;
        }
      }
    }
    &__right {
      &--icon {
        display: none;
        &-invisible {
          display: none;
        }
      }
    }
    &__form {
      display: flex;
      max-width: 900px;
      min-width: 600px;
      padding: 0 12%;
      margin: auto;
      justify-content: center;
      &--img {
        margin: 0 0 0 1%;
        width: 49%;
        text-align: center;
      }
      &--img > img {
        position: relative;
        max-width: 100%;
        height: auto;
        object-fit: contain;
        &:hover + .homepage__form--wrapper {
          background-color: red;
          filter: blur(4px);
        }
      }
      &--wrapper {
        display: inline-block;
        position: relative;
        z-index: 1;
        top: 50%;
        cursor: pointer;
        &:hover + #wallpaper {
          filter: blur(2px);
        }
      }
      &--text {
        display: block;
        font-size: 28px;
        font-weight: 800;
        color: #fff;
      }
      &--button {
        margin-top: 10%;
        letter-spacing: 0.003rem;
        display: inline-block;
        padding: 2px 12px;
        font-size: 16px;
        background: none;
        color: #fff;
        cursor: pointer;
        border: 1px solid #fff;
      }
    }
  }
  @include mobile {
    &__form {
      display: flex;
      min-width: 196%;
      justify-content: center;
      &--img {
        margin: 0 0 0 1%;
        width: 49%;
        transition: all 1s ease-out;
      }
      &--img > img {
        position: relative;
        max-width: 100%;
        max-height: 100%;
        height: auto;
        object-fit: contain;
        &:hover + .homepage__form--wrapper {
          background-color: red;
          filter: blur(4px);
        }
      }
      &--wrapper {
        margin: 0 0 0 1%;
        align-items: center;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 1;
        margin: auto;
        top: 50%;
      }
      &--text {
        display: block;
        font-size: 28px;
        font-weight: 800;
        color: #fff;
      }
      &--button {
        margin-top: 10%;
        letter-spacing: 0.003rem;
        display: inline-block;
        padding: 2px 12px;
        font-size: 16px;
        background: none;
        color: #fff;
        border: 1px solid #fff;
        pointer-events: none;
      }
      &--right {
        cursor: pointer;
        margin-right: 5px;
        svg {
          position: relative;
          width: 30px;
          filter: invert(100%);
        }
      }
      &--left {
        cursor: pointer;
        margin-left: 5px;
        svg {
          position: relative;
          width: 30px;
          filter: invert(100%);
        }
      }
    }
  }
  &__right {
    &--icon {
      color: #fff;
      margin-right: 10px;
    }
    &--icon-invisible {
      visibility: hidden;
    }
  }
  &__left {
    &--icon {
      color: #fff;
      margin-left: 10px;
    }
    &--icon-invisible {
      visibility: hidden;
    }
  }
}

// LOGIN FORM
.loginpage {
  height: 100vw;
  &__wrapper {
    display: flex;
    @include desktop {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    @include mobile {
      position: relative;
      width: 100%;
      height: 100vw;
    }
    margin: auto;
    width: 500px;
    height: 500px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
  &__form {
    @include desktop {
      margin: 20% 25%;
    }
    @include mobile {
      margin: auto;
    }
    width: 250px;
    height: 300px;
    &--field {
      width: 200px;
      height: 250px;
      margin: 10%;
    }
    &--id {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }
    &--password {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }

    &--text {
      margin-left: 2px;
      font-size: 9px;
      margin-bottom: 5px;
    }
    &--input {
      border: none;
      padding-bottom: 5px;
      border-bottom: 1px solid #000;
      font-size: 11px;
      outline: none;
    }
    &--search {
      margin: 30px 0 5px 0;
      display: flex;
      flex-direction: column;
      font-size: 9px;
    }
  }
  &__search {
    &--id {
      margin-bottom: 5px;
      cursor: pointer;
    }
    &--password {
      cursor: pointer;
    }
  }
}

// ACTIVATE SEARCH

.activate-search {
  z-index: 100;
  position: absolute;
  width: 100%;
  &__search {
    background-color: #fff;
    height: 70px;
    &--form {
      margin: auto;
      width: 200px;
      height: 70px;
    }
    &--item-wrapper {
      text-align: center;
      line-height: 70px;
      input {
        border-radius: 5px;
        outline: none;
        transform: translateY(2px);
      }
      span {
        position: absolute;
        top: 7px;
        width: 19px;
        margin-left: 10px;
      }
    }
  }
  &__empty {
    background-color: rgba(0, 0, 0, 0.595);
    height: 200vw;
  }
}
// SIGN UP
.signup {
  // background-color: aquamarine;
  margin: 15% auto;
  width: 650px;
  min-width: 500px;
  height: 400px;
  min-height: 300px;
  &__line {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 2%;
  }
  &__form {
    font-size: 10px;
    font-weight: 600;
    &--table {
      width: 650px;
      border-collapse: collapse;
      input {
        width: 120px;
        height: 20px;
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.2);
      }
      tr {
        td {
          width: 35px;
          height: 40px;
          border: 1px solid rgba(0, 0, 0, 0.2);
          padding-left: 15px;
          span {
            margin-left: 5px;
          }
        }
      }
      :nth-child(4) {
        button {
          margin: 0 10px;
          height: 24px;
          background-color: #fff;
          border: 1px solid rgba(0, 0, 0, 0.2);
          font-size: 11px;
          font-weight: 600;
        }
      }
    }
  }
  &__button {
    width: 100%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    button {
      font-size: 11px;
      letter-spacing: 0.09rem;
    }
  }

  @include mobile {
    width: 100vw;
    min-width: 100vw;
    margin: auto;
    &__form {
      margin: 5%;
      width: 90%;

      &--table {
        width: 100%;
      }
    }
  }
}

// SHOP
.shopping-category {
  margin: 20% 15% 10% 15%;
  @include mobile {
    margin: 20% 5% 10% 5%;
  }
  &__form {
    text-align: center;
    span {
      @include mobile {
        font-size: 10px;
      }
    }
  }
}

// SHOP LIST
.shopping-list {
  margin: 10%;
  &__form {
    margin: auto;
    &--top {
      display: flex;
      justify-content: space-between;
      font-size: 10px;
      margin-bottom: 5%;
      @include mobile {
      }
    }
    &--bottom {
      width: 100%;
      column-count: 2;
      @include mobile {
        column-count: 1;
      }
    }
  }
  &__top {
    &--total {
      @include mobile {
        width: 110px;
      }
    }
    &--sort {
      @include mobile {
        text-align: right;
        width: 230px;
      }
    }
  }
  &__sort {
    &--item {
      color: #999;
      margin-left: 5px;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        color: #000;
      }
    }
  }
  &__item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    break-inside: avoid-column;
    &:hover > img {
      transition: all 0.5s;
      filter: opacity(70%);
    }
    img {
      width: 100%;
      min-width: 300px;
    }
    &--title {
      margin-top: 10px;
    }
    &--price {
      margin-top: 10px;
      margin-bottom: 30px;
    }
  }
}

//product re
.product-registration {
  text-align: center;
  button {
    width: 300px;
    height: 50px;
  }
  &__form {
    border: 1px solid #000;
    text-align: left;
    display: flex;
    margin: 5%;
    height: 100vh;
    min-width: 600px;
    &--sample img {
      width: 80%;
    }
    &--left {
      width: 50%;
      min-width: 40%;
      margin: 3%;
      border-right: 1px solid #000;
    }
    &--right {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin: 3%;
      margin-left: 0;
      min-width: 300px;

      span {
        margin: 5%;
        width: 90%;
        div {
          font-size: 15px;
        }
        input {
          outline: none;
          width: 98%;
          height: 20px;
        }
      }
    }
  }
}
.shopping-item-detail {
  &__form {
    column-count: 2;
    padding-top: 5%;
    &--img {
      width: 100%;
      img {
        width: 100%;
      }
    }
    &--text {
      strong {
        break-before: column;
        color: red;
      }
    }
  }
  &__text {
    &--title {
      display: flex;
      flex-direction: column;
      span {
        margin-bottom: 10px;
        &:nth-child(1) {
          font-size: 16px;
          font-weight: 700;
        }
        &:nth-child(2) {
          font-size: 13px;
          font-weight: 700;
        }
      }
    }
  }
}
