body {
  margin: 0;
  font-family: "Montserrat", "Lato", arial, sans-serif, "Nanum Gothic", Gulim,
    Verdana, Dotum, AppleGothic, sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100vw;
}
